.header{
  display: flex;
  align-items: center;
  background-color: #50C2C9;
  max-height: 68px;
  a{
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  .logo{
    max-height: 54px;
    padding-left: 244px;
  }
}


