.background{
    display: flex;
    background-color: #50C2C9;
    width: 100vw;
    height: 100vh;
    form {
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-top: 20vh;
        width: 754px;
        height: 500px;
        background-color: #fff;
        img{
            margin: auto;
            width: 214px;   
            height: 54px;
        }
        h1{
            margin-left: 25vh;
        }

        mat-form-field {
            margin: auto;
            margin-bottom: 2px;
            width: 280px;
            

        }
        a{
            margin-left: 50vh;
        }
        .bnt{
            color:#fff ;
            background-color:#50C2C9;
            width: 280px;
            margin: auto;
            margin-bottom: 50px;
            
        }
        label{
            margin: auto;
        }
        .registro{
            margin: auto;
            color: #50C2C9;
        }

      }
}